In [10]:
import pandas as pd
air = pd.read_csv('/workspace/Airport_Pipeline/Airport_data/runways.csv')
air

,id,airport_ref,airport_ident,length_ft,width_ft,surface,lighted,closed,le_ident,le_latitude_deg,le_longitude_deg,le_elevation_ft,le_heading_degT,le_displaced_threshold_ft,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,he_displaced_threshold_ft
0,269408,6523,00A,80.0,80.0,ASPH-G,1,0,H1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,255155,6524,00AK,2500.0,70.0,GRVL,0,0,N,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN
2,254165,6525,00AL,2300.0,200.0,TURF,0,0,01,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN
3,506792,506791,00AN,4517.0,60.0,GVL,0,0,3,NaN,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN
4,270932,6526,00AR,40.0,40.0,GRASS,0,0,H1,NaN,NaN,NaN,NaN,NaN,H1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44748,235186,27243,ZYTX,10499.0,148.0,CON,1,0,06,41.630402,123.469002,171.0,49.0,NaN,24,41.649300,123.498001,197.0,229.0,NaN
44749,235169,27244,ZYYJ,8530.0,148.0,CON,1,0,09,42.881100,129.436005,623.0,81.7,NaN,27,42.884499,129.466995,597.0,261.7,NaN
44750,354997,317861,ZYYK,8202.0,NaN,NaN,0,0,04,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,NaN
44751,346789,346788,ZZ-0003,1800.0,15.0,Turf,0,0,15,NaN,NaN,NaN,NaN,NaN,33,NaN,NaN,NaN,NaN,NaN
44752,313663,313629,ZZZZ,1713.0,82.0,concrete,0,0,18,30.783501,130.272995,NaN,NaN,NaN,36,30.778099,130.272995,NaN,NaN,NaN